{{addImport "import {useSortedRowIds, STORE_ID} from './ChatStore';"}}

{{includeFile template="client/src/chat/messages.css.hbs" output="client/src/messages.css"}}
{{addImport "import './messages.css';"}}

{{includeFile template="client/src/chat/Message.tsx.hbs" output="client/src/Message.{{ext}}"}}
{{addImport "import {Message} from './Message';"}}

export const Messages = () => {
const sortedIds = useSortedRowIds('messages', 'timestamp', false, 0, undefined, STORE_ID);

return (
<div id="messages">
  {sortedIds.map((id) => (
  <Message key={id} rowId={id} />
  ))}
</div>
);
};