{{addImport "import {App as TinyBaseApp} from './TinyBaseApp';"}}
{{#if tinyWidgets}}
  {{addImport "import {App as TinyWidgetsApp, Image} from 'tinywidgets';"}}
  {{includeFile template="client/src/shared/Info.tsx.hbs" output="client/src/Info.{{componentExt}}"}}
  {{addImport "import {Info} from './Info';"}}
{{else}}
  {{includeFile template="client/src/shared/TopBar.tsx.hbs" output="client/src/TopBar.{{componentExt}}"}}
  {{addImport "import {TopBar} from './TopBar';"}}
{{/if}}

export const App = () =>
{{#if tinyWidgets}}
  <TinyWidgetsApp title={Title} topNavRight={Info} main={Main} />;

const Title = () => (
<h1>
  <Image src="/favicon.svg" variant="logo" alt="TinyBase" />
  TinyBase {{#if (eq appType "chat")}}Chat{{else if (eq appType "drawing")}}Drawing{{else if (eq appType "game")}}Game{{else}}Todos{{/if}}
</h1>
);

const Main = () => <TinyBaseApp />;
{{else}}
  (
  <>
    <TopBar />
    <div id="app">
      <TinyBaseApp />
    </div>
  </>
  );
{{/if}}
