{{addImport "import {useStore, useSetValuesCallback, useTableListener, STORE_ID} from './Store';"}}

{{includeFile template="client/src/shared/Button.tsx.hbs" output="client/src/Button.{{ext}}"}}
{{addImport "import {Button} from './Button';"}}

{{includeFile template="client/src/game/Board.tsx.hbs" output="client/src/Board.{{ext}}"}}
{{addImport "import {Board} from './Board';"}}

{{includeFile template="client/src/game/GameStatus.tsx.hbs" output="client/src/GameStatus.{{ext}}"}}
{{addImport "import {GameStatus} from './GameStatus';"}}

const WINNING_LINES = [
[0, 1, 2], [3, 4, 5], [6, 7, 8],
[0, 3, 6], [1, 4, 7], [2, 5, 8],
[0, 4, 8], [2, 4, 6],
];

export const Game = () => {
const store = useStore(STORE_ID);

useTableListener(
'board',
() => {
const gameStatus = store.getValue('gameStatus');
if (gameStatus !== 'playing') return;

const board = store.getTable('board');

for (const line of WINNING_LINES) {
const [a, b, c] = line;
const cellA = board[a]?.value;
const cellB = board[b]?.value;
const cellC = board[c]?.value;

if (cellA && cellA === cellB && cellA === cellC) {
store.setValue('gameStatus', 'won');
store.setValue('winner', cellA);
store.setValue('winningLine', line.join(','));
return;
}
}

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const filledCells = Object.values(board).filter((cell: any) => cell.value).length;
if (filledCells === 9) {
store.setValue('gameStatus', 'draw');
return;
}

const currentPlayer = store.getValue('currentPlayer');
store.setValue('currentPlayer', currentPlayer === 'X' ? 'O' : 'X');
},
[],
true,
STORE_ID,);

const resetGame = useSetValuesCallback(
() => {
store.delTable('board');
return {currentPlayer: 'X',
gameStatus: 'playing',
};
},
[],
);

return (
<>
  <GameStatus />
  <Board />
  <div style=\{{textAlign: 'center', marginTop: '2rem'}}>
    <Button onClick={resetGame} variant="primary">New Game</Button>
  </div>
</>
);
};