<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" />
  {{includeFile template="client/public/favicon.svg" output="client/public/favicon.svg"}}
  {{#if typescript}}{{includeFile template="client/public/ts.svg" output="client/public/ts.svg"}}{{else}}{{includeFile template="client/public/js.svg" output="client/public/js.svg"}}{{/if}}
  {{#if react}}{{includeFile template="client/public/react.svg" output="client/public/react.svg"}}{{/if}}
  {{#if svelte}}{{includeFile template="client/public/svelte.svg" output="client/public/svelte.svg"}}{{/if}}
  {{#if persistSqlite}}{{includeFile template="client/public/sqlite.svg" output="client/public/sqlite.svg"}}{{/if}}
  {{#if persistPglite}}{{includeFile template="client/public/pglite.svg" output="client/public/pglite.svg"}}{{/if}}
  {{#if sync}}{{includeFile template="client/public/sync.svg" output="client/public/sync.svg"}}{{/if}}
  {{#if tinyWidgets}}{{includeFile template="client/public/tinywidgets.svg" output="client/public/tinywidgets.svg"}}{{/if}}
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>
    TinyBase {{#if (eq appType "chat")}}Chat{{else if (eq appType "drawing")}}Drawing{{else if (eq appType "game")}}Game{{else}}Todos{{/if}}
  </title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      user-select: none;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }

    {{#unless tinyWidgets}}
      body {
        --hue: 270;
        --fg: oklch(85% 0.01 var(--hue));
        --fg2: oklch(60% 0.01 var(--hue));
        --bg: oklch(20% 0.01 var(--hue));
        --bg2: oklch(25% 0.01 var(--hue));
        --border: oklch(30% 0.01 var(--hue));
        --bg-header: oklch(30% 0.008 var(--hue) / 0.5);
        --accent: #d81b60;
        color: var(--fg);
        background: var(--bg);
      }

      #appContainer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      #app {
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1.5rem;
      }
    {{/unless}}
  </style>
</head>

<body>
  {{#if tinyWidgets}}
    <div id="appContainer"></div>
  {{else}}
    <div id="appContainer">
      {{#unless react}}
        <div id="topBarMount"></div>
        <div id="app"></div>
      {{/unless}}
    </div>
  {{/if}}
  {{includeFile template="client/src/index.tsx.hbs" output="client/src/index.{{entryExt}}"}}
  <script type="module" src="/src/index.{{entryExt}}"></script>
</body>

</html>
