<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" />
  {{includeFile template="public/favicon.svg" output="public/favicon.svg"}}
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>
    TinyBase / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}}{{#if react}} + React{{/if}}
  </title>
</head>

<body>
  {{#if react}}
    <div id="app"></div>
  {{else}}
    {{#if (eq appType "basic")}}
      <div id="app">
        <header>
          <h1>
            <img src="/favicon.svg" />
            TinyBase / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}}
          </h1>
        </header>
        <p>
          This is more or less the simplest TinyBase app you could imagine. It
          contains a handful of key-values and tables which are mutated with the
          buttons below. There's no fancy rendering - just the raw JSON of the
          underlying store. See the full set of
          <a href="https://tinybase.org/demos/">TinyBase demos</a> for more
          interesting examples!
        </p>
        <div id="buttons">
          <button id="countButton">Increment number</button>
          <button id="randomButton">Random number</button>
          <button id="addPetButton">Add a pet</button>
        </div>
        <details open>
          <summary>Values</summary>
          <pre id="valuesJson"></pre>
        </details>
        <details open>
          <summary>Tables</summary>
          <pre id="tablesJson"></pre>
        </details>
      </div>
    {{/if}}
    {{#if (eq appType "chat")}}
      <div id="app">
        <header>
          <h1>
            <img src="/favicon.svg" />
            TinyBase Chat / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}}
          </h1>
        </header>
        <div class="username-input">
          <label>Username:</label>
          <input type="text" id="username-input" placeholder="Enter your name" />
        </div>
        <div class="messages" id="messages"></div>
        <div class="message-input">
          <input type="text" id="message-input" placeholder="Type a message..." autofocus />
          <button id="send-button">Send</button>
        </div>
      </div>
    {{/if}}
    {{#if (eq appType "drawing")}}
      <div id="app">
        <header>
          <h1>
            <img src="/favicon.svg" />
            TinyBase Drawing / {{#if typescript}}TypeScript{{else}}JavaScript{{/if}}
          </h1>
        </header>
        <div class="drawing-controls">
          <div class="color-picker" id="color-picker"></div>
          <div class="brush-size">
            <label>Brush Size:</label>
            <input type="range" id="brush-size" min="1" max="50" value="5" />
            <span id="brush-size-value">5</span>
          </div>
          <button id="clear-button" class="clear-btn">Clear Canvas</button>
        </div>
        <canvas id="drawing-canvas" class="drawing-canvas" width="600" height="400"></canvas>
      </div>
    {{/if}}
  {{/if}}
  {{includeFile template="src/index.tsx.hbs" output="src/index.{{ext}}"}}
  <script type="module" src="/src/index.{{ext}}"></script>
</body>

</html>